/* #=indicates the id(only for one) */
/* .=indicates the class */
.Myheading{
    color: blueviolet
}

.upper{
    color: green
}

.box{
    width:1246px;
    height:50px
}

.black{
    background-color: black
}

.topnav{
    background-color: white
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    margin: 0;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
}

.topnav a:hover {
    background-color: white;
    color: black;
  }

#tc{
    color: white
}

#bt{
    color:black
}

#gt{
    color: grey
}